<!-- user-details.component.html -->
<div class="user-details-container">
    <h2>Device Name</h2>
    <form>
      <div class="form-group">
        <label for="partName">Part Name:</label>
        <input type="text" id="partName" name="partName" [(ngModel)]="userData.partName" disabled>
      </div>
      <div class="form-group">
        <label for="location">Location:</label>
        <input type="number" id="location" name="location" [(ngModel)]="userData.location" disabled>
      </div>
      <div class="form-group">
        <label for="passCount">Pass Count:</label>
        <input type="number" id="passCount" name="passCount" [(ngModel)]="userData.passCount" disabled>
      </div>
      <div class="form-group">
        <label for="failCount">Fail count:</label>
        <input type="number" id="failCount" name="failCount" [(ngModel)]="userData.failCount" disabled>
      </div>
    </form>
  </div>
  <hr />
  <div class="get-container">
    <div>
      <button (click)="getData()">Get Data</button>
    </div>
      <br>
     
    </div>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <form #postForm="ngForm" (ngSubmit)="postData(postForm.value)">
            <div class="form-group">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                required
                ngModel
                name="title"
              />
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea
                class="form-control"
                id="content"
                required
                ngModel
                name="content"
              ></textarea>
            </div>
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!postForm.valid"
            >
              Send Post
            </button>
          </form>
        </div>
      </div>
      <hr />
      
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p>No posts available!</p>
        </div>
      </div>
    </div>
    
  