/* user-details.component.css */
.user-details-container {
    max-width: 400px;
    margin :auto;
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ecf0f1;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
    color: #2c3e50;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
    color: #3498db;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 3px;
  }
  
  /* Add a slight background color when disabled */
  input:disabled {
    background-color: #ecf0f1;
  }
  
  /* Style the submit button */
  button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
  
  button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }

  .get-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #3498db;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ecf0f1;
    margin-top: 50px; /* Add a top margin for spacing */


  button {
    background-color: #2e8fcc;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
  }
}
  